/*NAVBAR*/
.NavBar{
  list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
}

.NavBarLi{
    float: left;
}

.NavBarA {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.NavBarALeft:hover:not(.NavBarButtonActive) {
    background-color: #111;
}

.NavBarButtonActive {
    background-color: #4CAF50;
}


.NavBarLiRight {
    float: right;
    background-color: #00CED1;
}
.NavBarARight:hover {
  background-color: #0099d1;
}
