/*NAVBAR*/
.NavBar{
  list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
}

.NavBarLi{
    float: left;
}

.NavBarA {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.NavBarALeft:hover:not(.NavBarButtonActive) {
    background-color: #111;
}

.NavBarButtonActive {
    background-color: #4CAF50;
}


.NavBarLiRight {
    float: right;
    background-color: #00CED1;
}
.NavBarARight:hover {
  background-color: #0099d1;
}

/*MODAL*/

/* The Modal (background) */
.Modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.ModalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.ModalButtonClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.ModalButtonClose:hover,
.ModalButtonClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
